@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../dyson/src/style/base.css";
@import "../public/assets/css/fonts.css";
@import "../public/assets/css/base.css";
@import "../public/assets/css/animations.css";

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1px;
	color: #eeeeee;
}

@media only screen and (max-width: 1581px) {
	html {
		font-size: .9px;
	}
}

@media only screen and (max-width: 1493px) {
	html {
		font-size: .85px;
	}
}

@media only screen and (max-width: 1400px) {
	html {
		font-size: .8px;
	}
}

@media only screen and (max-width: 1317px) {
	html {
		font-size: .75px;
	}
}
@media only screen and (max-width: 1229px) {
	html {
		font-size: .75px;
	}
}

@media only screen and (max-width: 1054px) {
	html {
		font-size: .6px;
	}
}



img {
	display: unset;
}
