@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../dyson/src/style/base.css";
@import "../public/assets/css/fonts.css";
@import "../public/assets/css/base.css";
@import "../public/assets/css/animations.css";

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1px;
}

img {
	display: unset;
}
