@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../dyson/src/style/base.css";
@import "../public/assets/css/fonts.css";
@import "../public/assets/css/base.css";
@import "../public/assets/css/animations.css";

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1px;
	color: #eeeeee;
}

@media only screen and (max-width: 1581px) {
	html {
		font-size: 0.9px;
	}
}

@media only screen and (max-width: 1493px) {
	html {
		font-size: 0.85px;
	}
}

@media only screen and (max-width: 1400px) {
	html {
		font-size: 0.8px;
	}
}

@media only screen and (max-width: 1317px) {
	html {
		font-size: 0.75px;
	}
}
@media only screen and (max-width: 1229px) {
	html {
		font-size: 0.75px;
	}
}

@media only screen and (max-width: 1054px) {
	html {
		font-size: 0.6px;
	}
}

img {
	display: unset;
}

.custom-scroll::-webkit-scrollbar {
	width: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
	background-color: #0a0b0e;
	box-shadow: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #1b1f23;
	border-radius: 100px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
	background-color: #272b31;
	border-radius: 100px;
}
