html,
body {
  padding: 0;
  margin: 0;
  min-height: 300px;
  max-height: 300px;
}
#container {
  width: 340px;
}
#header {
  background: #28282c;
  padding: 14px 20px;
  font-weight: bold;
  color: #f7f7f7;
  font-size: 14px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
}
.center-aligned {
  align-self: center;
}
#icon {
  width: 75% !important;
  height: 79px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-top: 16px;
  margin-bottom: 0px;
}
.small_heading {
  font-weight: bold;
  font-size: 16px;
  color: #343131;
}
#steps {
  margin-top: 16px;
  color: #343131;
  margin-bottom: 8px;
}
#steps li:not(:last-child) {
  margin-bottom: 6px;
}
.numbered-list {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  padding-left: 0em;
}
#footer {
  background: #f6f6f6;
  border-radius: 1px;
  padding: 8px 24px;
  display: flex;
}
.right-aligned {
  margin-left: auto;
}
.button {
  background: #ff3c79;
  border-radius: 4px;
  border: 1px solid #ec2e6a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 26px;
  cursor: pointer;
}
/* To modify ol default numbering to 1.) */
ol {
  counter-reset: item;
}
li {
  display: flex;
}
li:before {
  content: counter(item) ") ";
  counter-increment: item;
  margin-right: 3px;
}

#events_list {
  padding-left: 0;
  margin: 0;
  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
}

#events_list li {
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
}

#events_list li:before {
  content: counters(item, ".", decimal-leading-zero);
  counter-increment: item;
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
  color: #979797;
  font-weight: bold;
}

.event_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.event_action {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.event_action_or_value {
  color: #b0b0b0;
  margin-top: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  width: 100%;
  background: #0b0b1f;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  height: 2.9rem;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
option {
}
select {
  flex: 1;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: DM Sans;
  font-size: 0.9rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  height: 2.9rem;
  top: 0;
  right: 0;
  padding: 0.25rem 1.5em;
  background: #0b0b1f;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
