@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 1px;
}

body {
	cursor: inherit;
	font-size: 16rem;
	color: #fff;
}

body {
	cursor: default;
}

.sb-show-main.sb-main-padded {
	transform-origin: left top 0;
}

.sbdocs-wrapper {
	background: #0c0d0f !important;
	color: #fff;
}
#root {
	padding: 20px 0 0 20px;
}
