@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Thin.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Thin_Italic.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Light_Italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Regular_Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Medium_Italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Bold_Italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro/Cera_Pro_Black_Italic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-RegularItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-SemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy/Gilroy-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'EmojiMart';
	src: url('https://missiveapp.com/open/emoji-mart/seguiemj.0221cf01.ttf') format('truetype');
}

/* em-emoji-picker {
	--background-rgb: #101010;
	font-family: 'Gilroy', 'sans-serif';
	--font-size: 12px;
	--border-radius: 20px;
	--category-icon-size: 14px;
	--color-border-over: rgba(0, 0, 0, 0.1);
	--color-border: rgb(61 61 61 / 30%);

	--rgb-accent: 233, 96, 255;
	--rgb-background: 0, 0, 0;
	--rgb-color: 255, 255, 255;
	--rgb-input: 255, 235, 235;

	border: 1px solid #202020;
	height: 30vh;
	min-height: 350px;
	max-height: 400px;
	width: 200px;
} */