/* For Mobile and small device*/
html, body {
	font-size: 1px;
	font-family: "Gilroy" !important;
}

button, input, optgroup, select, textarea, div, span {
    font-family: inherit;
    font-size: 13rem;
    line-height: 1.15;
    margin: 0;
}

*, :after, :before {
    border: 0 solid;
}

*, :after, :before {
    box-sizing: border-box;
}

button, input {
    overflow: visible;
}